{{#if artists.length }}
    <ol>
        {{#each artists}}
            <li>
                <a href="/artist/{{this.id}}">
                    {{this.name}}
                </a>
            </li>
        {{/each}}
    </ol>
{{/if}}

{{#if tracks.length }}
    <ol>
        {{#each tracks}}
            <li>
                {{this.name}}
            </li>
        {{/each}}
    </ol>
{{/if}}

{{#if nextPage.hasNextPage}}
    <form method="get" action="/search">
        <input type="hidden" name="query" value="{{nextPage.query}}" />
        <input type="hidden" name="offset" value="{{nextPage.offset}}" />
        <input type="hidden" name="limit" value="{{nextPage.limit}}" />
        <button>Carregar mais</button>
    </form>
{{/if}}
